#Mac
**/.DS_Store

#Logs
**/*.log

#Java
 **/classes

#Maven

**/target
**/pom.xml.tag
**/pom.xml.releaseBackup
**/pom.xml.versionsBackup
**/pom.xml.next
**/release.properties
**/dependency-reduced-pom.xml
**/buildNumber.properties

#JetBrains products
**/.idea
**/*.iml
**/*.iws

#Eclipse
**/.settings
**/.classpath
**/.project
**/proguard
**/.metadata

#Android 
gotowanko-android/bin/*
gotowanko-android/out/*
gotowanko-android/gen/*
gotowanko-android/assets/*
gotowanko-android/build.xml
gotowanko-android/local.properties

